<div class="container" style="padding-top:5px;">
<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand logo" href="/" style="margin-top:-10px;">
      <img src="/assets/wlq_logo.png" class="img-resposnive" style="height:40px;"/>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="<%= params[:controller] == 'weblogs' ? 'active' : '' %>"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
<!--       <li class="<%#= params[:controller] == 'weblogs' ? 'active' : '' %>"><a href="/weblogs">新公告</a></li> -->
      <li class="<%= params[:controller] == 'about' && params[:action] == 'index' ? 'active' : '' %>"><a href="/about">盟规</a></li>
      
<!--       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li> -->
    </ul>
<!--     <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> -->
    <ul class="nav navbar-nav navbar-right">
     
        <%if current_user %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user">用户中心</a></li>
            <li class="divider"></li>
            
            <%if current_user.is_player? %>
              <li><a href="/players/<%=current_user.player.id%>">我的球员资料</a></li>
              <li class="divider"></li>
              <%if current_user.player.owns_team? %>
                <li><a href="/teams/captain_teams/0">我创建的球队</a></li>
              <%else%>
               <li><a href="/teams/new">创建球队</a></li>
              <%end%>
              <li><a href="/teams/my_teams/0">我参与的球队</a></li>

            <%else%>
             <li><a href="/players/new">成为球员</a></li>
            <%end%>
           
            
            <li class="divider"></li>
            <li><a href="/user/edit/0">我的资料</a></li>
            <% if current_user.is_referee? %>
            <li><a href="/user/referee/0">我的执法日程</a></li>
            <% end %>
            <li><a href="/user/volunteer/0">我要当志愿者</a></li>
            <li><a href="/user/signout/0">登出</a></li>
          </ul>
        </li>
           
        <%else%>
         <li>
          <a href="/user/login/0">登录 | 注册</a>
          </li>
        <%end%>
      
      <li class=" navlink">
        <% if current_city.blank? %>
          <a href="/">[选择赛区]</a>
        <%else%>
          <a href="/tournament"><%=current_city_name%>赛区联赛</a>
        <% end %>
      </li>
      
      <% unless current_city.blank? %>
        <li>
          <a href="/home?c=1">[切换赛区]</a>
        </li>
      <% end %>
<!--       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li> -->
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>
<%if cookies[:team_invited] && !cookies[:team_invited].blank? %>
<div class="container">
<div class="alert alert-warning" role="alert">
  您还有一个入队申请未完成. 
  <% if current_user %>
    <% if current_user.player.blank? %>
        <%=link_to "成为球员用户，然后完成该申请", :controller=>"players", :action=>"new" %>
    <% else %>
        <%=link_to "去完成该申请", :controller=>"teams", :action=>"apply_to_join", :id=>cookies[:team_invited] %>
    <% end %>
  <% else %>
    <%=link_to "请登录，然后完成该申请", :controller=>"user", :action=>"login", :id=>0 %>
  <% end %>
</div>
</div>
<%end%>


























