<ul class="nav nav-pills nav-stacked">
	<li class=" <%= 'active' if params[:controller] == "user" && params[:action] == 'index' %>"><a href="/user">用户中心</a></li>
<%if current_user.is_player? %>
  <li class=" <%= 'active' if params[:controller] == "players" && params[:action] == 'show' %>"><a href="/players/<%=current_user.player.id%>">我的球员资料</a></li>
  <%if current_user.player.owns_team? %>
    <li class=" <%= 'active' if params[:controller] == "teams" && params[:action] == 'captain_teams' %>"><a href="/teams/captain_teams/0">我创建的球队</a></li>
  <%else%>
   <li class=" <%= 'active' if params[:controller] == "teams" && params[:action] == 'new' %>"><a href="/teams/new">创建球队</a></li>
  <%end%>
  <li class=" <%= 'active' if params[:controller] == "teams" && (params[:action] == 'my_team' || params[:action] == 'my_teams') %>"><a href="/teams/my_teams/0">我参与的球队</a></li>

<%else%>
 <li class=" <%= 'active' if params[:controller] == "players" && params[:action] == 'new' %>"><a href="/players/new">成为球员</a></li>
<%end%>
<li class=" <%= 'active' if params[:controller] == "" && params[:action] == '' %>"><a href="/user/edit/0">我的资料</a></li>
<% if current_user.is_referee? %>
<li class=" <%= 'active' if params[:controller] == "user" && params[:action] == 'referee' %>"><a href="/user/referee/0">我的执法日程</a></li>
<% end %>
<li class=" <%= 'active' if params[:controller] == "user" && params[:action] == 'volunteer' %>"><a href="/user/volunteer/0">我要当志愿者</a></li>
</ul>